body {
  margin: 0;
  min-width: 1600px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  margin: 0;
}

/* #wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
} */

/* .MuiSvgIcon-root {
  color: rgba(0, 0, 0, 0.5);
} */

/* Align */
.alignR {
  margin-left: auto;
}
.flexEnd {
  display: flex;
  justify-content: flex-end;
}

/* Modal */
.MuiModal-root {
  overflow-y: auto;
}

/* Select-Layer */
.MuiModal-root[role='presentation'] .MuiMenu-list li {
  height: 28px;
  font-size: 13px;
  color: #1c293e;
}
