body {
  margin: 0;
  min-width: 1600px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  margin: 0;
}

/* #wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
} */

/* .MuiSvgIcon-root {
  color: rgba(0, 0, 0, 0.5);
} */

/* Align */
.alignR {
  margin-left: auto;
}
.flexEnd {
  display: flex;
  justify-content: flex-end;
}
